.u-section-1 {
  min-height: 110px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 726px);
  min-height: 221px;
  margin: -110px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 562px;
  margin: 128px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 136px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 539px);
    min-height: 207px;
    margin-bottom: 39px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 126px;
  }

  .u-section-1 .u-group-1 {
    min-height: 194px;
    margin-top: -68px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 106px;
  }

  .u-section-1 .u-group-1 {
    min-height: 254px;
    margin-top: -147px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 55px;
    margin-right: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 98px;
  }

  .u-section-1 .u-group-1 {
    min-height: 258px;
    margin-top: -160px;
    margin-bottom: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-2 {
  min-height: 746px;
}

.u-section-2 .u-shape-1 {
  width: 413px;
  height: 413px;
  background-image: none;
  margin: -62px calc(((100% - 1140px) / 2) + -132px) 0 auto;
}

.u-section-2 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 942px);
  height: 323px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-accordion-1 {
  width: 1140px;
  margin: -622px auto 0;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  margin-bottom: 0;
  padding: 20px 30px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 178px;
  background-image: none;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 14px 30px 29px;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 23px auto 0 433px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 400;
  margin: -44px auto 0 206px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 400;
  margin: -44px auto 0 0;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 400;
  margin: -44px 397px 0 auto;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 400;
  margin: -44px 170px 0 auto;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  margin-bottom: 0;
  padding: 20px 30px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 178px;
  background-image: none;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-2 .u-btn-7 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 400;
  margin: -44px auto 0 20px;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  margin-bottom: 0;
  padding: 20px 30px;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 178px;
  background-image: none;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 18px;
}

.u-section-2 .u-text-3 {
  margin: 17px 20px 0;
}

.u-section-2 .u-btn-8 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 17px auto 0 20px;
}

.u-section-2 .u-btn-9 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 400;
  margin: -44px auto 0 142px;
}

.u-section-2 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 178px;
  background-image: none;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-top: -125px;
    margin-right: calc(((100% - 940px) / 2) + -76px);
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-top: 73px;
  }

  .u-section-2 .u-accordion-1 {
    width: 940px;
    margin-top: -612px;
    margin-bottom: 31px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 197px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -44px;
    margin-left: 227px;
  }

  .u-section-2 .u-accordion-pane-2 {
    min-height: 188px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 20px;
  }

  .u-section-2 .u-accordion-pane-3 {
    min-height: 274px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 29px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-2 .u-btn-9 {
    margin-right: 42px;
    margin-left: 628px;
  }

  .u-section-2 .u-accordion-pane-4 {
    min-height: 188px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 749px;
  }

  .u-section-2 .u-shape-1 {
    width: 414px;
    margin-top: -32px;
    margin-right: calc(((100% - 720px) / 2) + -132px);
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-top: 12px;
  }

  .u-section-2 .u-accordion-1 {
    width: 720px;
    margin-top: -644px;
    margin-bottom: 32px;
  }

  .u-section-2 .u-accordion-pane-1 {
    min-height: 362px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 97px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -44px;
    margin-left: 122px;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 27px;
    margin-left: auto;
  }

  .u-section-2 .u-accordion-pane-2 {
    min-height: 194px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 19px;
  }

  .u-section-2 .u-accordion-pane-3 {
    min-height: 382px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 23px;
    padding-left: 3px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 24px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 20px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-2 .u-accordion-pane-4 {
    min-height: 194px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 781px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -29px;
    margin-right: calc(((100% - 540px) / 2) + -179px);
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-top: 74px;
  }

  .u-section-2 .u-accordion-1 {
    width: 540px;
    margin-top: -708px;
  }

  .u-section-2 .u-accordion-pane-1 {
    min-height: 474px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 72px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -108px;
    margin-right: 57px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 118px;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 23px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-accordion-pane-2 {
    min-height: 283px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 20px;
  }

  .u-section-2 .u-accordion-pane-3 {
    min-height: 446px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-9 {
    margin-right: 66px;
    margin-left: 164px;
  }

  .u-section-2 .u-accordion-pane-4 {
    min-height: 283px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 931px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 340px) / 2) + -207px);
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: 21px;
  }

  .u-section-2 .u-accordion-1 {
    width: 340px;
    margin-top: -705px;
  }

  .u-section-2 .u-accordion-pane-1 {
    min-height: 579px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 118px;
    margin-left: 46px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -98px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -98px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 64px;
    margin-left: 154px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-6 {
    margin: 10px auto -12px;
  }

  .u-section-2 .u-accordion-pane-2 {
    min-height: 579px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: auto;
  }

  .u-section-2 .u-accordion-pane-3 {
    min-height: 579px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 19px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 9px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-9 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-accordion-pane-4 {
    min-height: 579px;
  }
}